.navbar {
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  top:31.4%;
  width: 10%;
  height: 20%;
  z-index: 1000;
  background-color: rgba(255, 228, 196, 0.493);
 
  border-style: solid;
  overflow: hidden;
  background-size: cover;
  justify-content: space-evenly;

  transform: translateX(-70%); 
  transition: transform 0.5s ease-in-out; 
  
 }

 .container {  display: grid;
  width: 15%;
  height: 20vh;
  margin-top: 25vh;
  position:relative;
  transform: translateX(-75%);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  
  grid-template-areas:
    "a a v v"
    "b b v v"
    "c c v v"
    "d d v v";
}

.a { grid-area: a; }

.b { grid-area: b; }

.c { grid-area: c; }

.d { grid-area: d; }

.v { grid-area: v;
  margin: 1%;
  writing-mode: vertical-rl;
  font-family: 'Roboto Slab', sans-serif;
  font-size: large;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #62fff5;
  width: 100%;
 
}

.navbar:hover{
  transform: translateX(0);
}
.navbar li{
  position: relative;
  font-size:medium;
  text-align:start;
  border-bottom: 1px solid #333;
}
 .navbar li:hover{
  display: flex;
  position: relative;
  color: #ffee10;
  font-size:large;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
  transition: all 2s cubic-bezier(0.075, 0.81, 0.165, 1);
  
}
.blink {
  animation-name: blink-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  
}

@keyframes blink-animation {
  0% {
    
  }
  25% {
    
    text-shadow: 0 0 10px #ffee10;
    background-color:  #62fff5;

  }
  50% {
    
    text-shadow: 0 0 10px purple;
    background-color:  #ffffff;
    
  }
  75% {
    text-shadow: 0 0 10px #ffee10;
    
    background-color: rgb(255, 228, 196)
}
}

@media (max-width: 600px) {
  .navbar .a,
  .navbar .b,
  .navbar .c,
  .navbar .d {
    display: flex;
    font-size: xx-small;
    transform: translate(-25%, -25%); /* Übersetzung für X- und Y-Achse */
  }
  
  .v {
    font-size: xx-small;
    z-index: 1;
    
  }

  .navbar .a:hover,
  .navbar .b:hover,
  .navbar .c:hover,
  .navbar .d:hover {
    background-color: black;
    color: red;
    font-size: x-small;
    box-shadow: 0 0 5px red;
    text-shadow: 0 0 5px red;
    transition: all 1s cubic-bezier(0.075, 0.81, 0.165, 1);
  }

  .navbar li:hover {
    background-color: green;
    color: red;
    font-size: large;
    box-shadow: 0 0 5px red;
    text-shadow: 0 0 5px red;
    transition: all 2s cubic-bezier(0.075, 0.81, 0.165, 1);
    padding-right: 0;
  }
}

@media (min-width: 601px) {
  #layer1 {
    background-color: #ffcc00;
    transition: all 2s cubic-bezier(0.075, 0.81, 0.165, 1);
  }
  .navbar .a,
  .navbar .b,
  .navbar .c,
  .navbar .d {
    font-size: small; 
  }
  .navbar .v {
    font-size: small; 
  }
  .navbar li:hover {
    font-size: medium; 
  }

  @media (min-width: 601px) and (max-width: 900px) {
    #layer1 {
      background-color: #00ff37;
    }
    .navbar .a,
    .navbar .b,
    .navbar .c,
    .navbar .d {
      font-size: x-small; 
    
    }

    .navbar li:hover {
      font-size: small; 
    }
  }
}
